#app {
    display:flex;
}
#options { 
    width: 40%;
}

#valuegrid {
    width: 40%;
}

#calculated {
    width: 20%;
}

.title {
    padding: 10px;
    display:inline-block;
}

.vgp1name {
    writing-mode:vertical-rl;
    line-height:35px;
    width: 35px;
    vertical-align: text-top;
    padding-top:10px;
    margin-top: 1px;
    padding-bottom:10px;
}

.vgrow {
    height: 35px;
    display:flex;
}

.vgp2name {
    padding-left:10px;
    padding-right:10px;
    line-height:35px;
}

.playercheck {
    width:35px;
    height:35px;
    align-content: center;
}

.valuespot {
    line-height:33px;
    min-width:33px;
    display: inline-block;
    height:34px;
    font-size: 12px;
    border: 1px solid black;
    align-content: center;
    text-align: center;
}

.p1colour {
    background-color: deepskyblue;
}

.p2colour {
    background-color: orange;
}
